@import url(https://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 20px;
}

h1 {
  padding: 10px;
  margin: 0px;
  font-size: 35px;
}

