h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
}

.alineación-izquierda {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

p {
  margin: 0;
  font-size: 25px;
}

mat-icon {
  margin-right: 5px;
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.space {
  margin-top: 20px;
}

